name: Build Kivy APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential \
          ccache \
          git \
          zip \
          unzip \
          openjdk-17-jdk

    - name: Install Buildozer
      run: |
        python -m pip install --upgrade pip
        pip install cython==0.29.36
        pip install buildozer
    - name: Remove system Android NDK
      run: sudo rm -rf /usr/local/lib/android/sdk/ndk
    - name: Clean buildozer cache
      run: rm -rf .buildozer

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: bin/*.apk
